@model IEnumerable<EntityLayer.Concrete.Kitaplar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-left: 50px;">Kitaplar</h1>

<div class="row">
    <div class="col-md-8">
        <div class="card" style="margin-left: 50px;">
            <div class="card-header">
                <table class="table table-hover border-dark col-md-12" style="margin-top:50px;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.KitapAd)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.KitapBasimYili)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.YazarID)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KitapAd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KitapBasimYili)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.YazarID)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.KitapID">Düzenle</a> |

                                    <a asp-action="Delete" asp-route-id="@item.KitapID">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<p style="margin-left: 50px;">
    <a asp-action="Create">Yeni Kitap Ekle</a>
</p>


@*DefaultSchemeAppContext.SetSwitch("Microsoft.AspNetCore.Authentication.SuppressAutoDefaultScheme").*@
